body{
  background-image: none;
  background:#1f8dd6;
}
.videoContainer {
  position: relative;
  width: 200px;
  height: 150px;
}
.videoContainer video {
  position: absolute;
  width: 100%;
  height: 100%;
}
.volume_bar {
  position: absolute;
  width: 5px;
  height: 0px;
  /*right: 0px;*/
  bottom: 5px;
  background-color: #772953;
}
.navbar-brand{
  margin-left: 10px;
}
.heading{
  /*width: 500px;*/
  margin: 50px auto 40px auto;
}
.get-room{
  width: 200px;
  margin-left: 195px;
}
.create-form{
  margin-bottom: 15px;
}
.info li{
  font-size: 19px;
  margin: 5px 0px;
}
.info ul{
  /*list-style: none;*/
}
.info{
  margin-top: 20px;
}
.about, .home{
  margin-right:160px;
}
.about-list{
  font-size: 23px;
}
.about-list li{
  margin-top: 24px;
  margin-bottom: 24px;
}
#leave{
  display: none;
  margin-bottom: 10px;
}

html, body {
  height: 100%;
}
footer {
  padding: 17px 0 18px 0;
}
footer p{
  width: 45%;
  margin: 0px auto;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -63px;
}
.push {
  height: 63px;
}
#copy{
  display: none;
  margin-top: 6px;
}
#title{
  float: left;
  margin-top: 30px;
}
#leave{
  display: none;
}
#clock{
  float: right;
  margin-top: -100px;
}